{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product</title>

</head>

<body>
    {% block content %} {{block.super}}
    <div class="container">
        <h3>Welcome to My products</h3>
        <p>Click on a product to view it's details</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                {% for p in product %}
                <span class="border border-primary"> 
                <p><a href="{% url 'product' p.id %}">{{p.name}}</a></p>
                <p>{{p.detail}}</p>
                <!-- <p>{{p.price}}</p>
                <p>{{p.manufactured}}</p> -->
            
            </span> {%endfor%}
            </div>
            <div class="col-md-6">
                <a href="{% url 'new-product' %}" class="btn btn primary">Add a Product</a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>